body {
  background: #3d773d;
  color: #fff;
}

#games {
  h2 {
    margin: 0 0 15px 0;
  }
  .game {
    color: #000;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;

    .map {
      img {
        width: 100%;
      }
    }

    ul {
      list-style: none;
      margin: 15px 0 0 0;
      padding: 0;
    }

    h3 {
      margin: 0 0 15px 0;
    }
  }
}